body{
	text-align: center;
	font-size: 15px;
    font-family: arial;

}

.header{
	padding:20px;
	text-align:center;
	background-color: grey;
	border-bottom: #ccc 3px solid;
}

.container{
	width:700px;
	margin:30px auto;
}